body
/*l'image de fond du site*/

{
    background-image: url(../img/\ background-travis.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo
/*réglage de la taille du logo et de l'emplacement */

{
    width: 50%;
    margin-right: -100%;
    margin-top: 2%;
}

.ps1 {
    text-align: center;
    font-size: xx-large;
    color: aliceblue;
}

.ps2 {
    color: snow;
    font-size: x-large;
}


/*ici se sont les div du site*/

.one {
    text-align: right;
    background-color: darkslateblue;
    margin-left: -1%;
    margin-right: -2%;
    margin-top: -2%;
    margin: -1.5%;
    margin-block-start: 48.5%;
    margin-top: -2%;
    display: flex;
    margin-right: -2%;
}

.two {
    margin-top: 10%;
    margin-left: 22%;
}


/*ici se sont la fin des div du site*/


/*ici se sont les images du site*/

.img1 {
    width: 280%;
    height: 100%;
}

.img2 {
    width: 150%;
    height: 120%;
    margin-top: -20%;
    margin-left: -25%;
}

.img3 {
    width: 400px;
    height: 100%;
}


/*ici se sont la fin des images du site*/


/*carrousel1*/

.slide1 {
    float: left;
}

.slider1 {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
    background-color: black;
    margin-left: -1%;
}

.slides1 {
    width: calc(500px * 3);
    animation: glisse 35s infinite;
    display: flex;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}


/*fin-carrousel*/


/*carrousel2*/

.slide2 {
    float: left;
}

.slider2 {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
    background-color: black;
}

.slides2 {
    width: calc(500px * 3);
    animation: glisse 35s infinite;
    display: flex;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}


/*fin-carrousel*/


/*carrousel3*/

.slide3 {
    float: left;
}

.slider3 {
    width: 500px;
    overflow: hidden;
    margin: 150px auto;
    background-color: black;
    margin-right: -2%;
}

.slides3 {
    width: calc(500px * 3);
    animation: glisse 35s infinite;
    display: flex;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-500px);
    }
    66% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}


/*fin-carrousel*/

.carou {
    /*classe du carrousel*/
    display: flex;
}

.footer:hover {
    opacity: 5;
    /*permet de l'effet transparents de l'image*/
}

.footer {
    /*footer du site*/
    opacity: 0.8;
    background-color: darkslateblue;
    margin: -2%;
    margin-block-start: 48.5%;
    background-attachment: fixed;
    margin-top: 20%;
    margin-bottom: -2%;
}


/*page2*/

.two-1 {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-left: 3%;
    background-color: blue;
}

.two-2 {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-left: 9%;
    background-color: blue;
}

.two-3 {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-left: 9%;
    background-color: blue;
}

.two-4 {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-left: 9%;
    background-color: blue;
}

.img11 {
    width: 390%;
    height: 100%;
}


/*page3*/

#don {
    background-image: url(../img/\ background-don-toliver.png);
    background-color: #a40c26;
}

#dons {
    background-color: #a40c26;
}

.two-11 {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    margin-left: 16%;
    background-color: blue;
}